.logos {
  width: 80%;
  display: flex;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background: rgba(255, 255, 255, 0.248);
}

@media (max-width: 992px) {
  .logos {
    width: 100%;
  }
}

.logos-slide {
  animation: 10s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0px 70px;
}

.logos::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255));
  content: " ";
  z-index: 1;
}

.logos::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255));
  content: " ";
  z-index: 1;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

